body {
    margin: 0px;
    padding: 16px;
    background-color: beige;
}

main {
    padding: 16px;
}

footer {
    top: 24px;
    bottom: 24px;
    left: 0px;
    right: 0px;
    background-color: pink;
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    background-color: pink;
    border-bottom: solid black 1px;
    padding: 16px;
    color: white
}

#main-page-white {
    color: white
}

.green-text {
    color:darkcyan
}

.taco-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(even):not(:last-child) {
    background-color: lightgrey;
}
